.beef-meddle-settings {
    .beef-meddle-settings-title {
        h1 {
            margin-bottom: 0.2rem;
        }

        :nth-child(3) {
            color: var(--text-muted)
        }

        .beef-meddle-settings-title-subtext {
            font-size: x-small;
        }
    }
    
    .beef-meddle-settings-section {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--background-secondary);
    }

    .beef-meddle-settings-divider {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}