// Settings
.beef-meddle-settings {
    .beef-meddle-settings-title {
        h1 {
            margin-bottom: 0.2rem;
        }
    }

    .beef-meddle-settings-section {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--background-secondary);
    }

    .beef-meddle-settings-tab {
        padding: 0.25rem;
    }

    .beef-meddle-settings-divider {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

// Generics
.beef-meddle-subtext {
    font-size: x-small;
    color: var(--text-muted);
}

.beef-meddle-row {
    display: flex;
    gap: 1rem;

    :not(:last-child) {
        flex: 1;
    }
}

.beef-meddle-textbox-wrapper * {
    display: flex;
    flex-direction: column-reverse;

    * {
        width: 100%;
    }
}

.beef-meddle-switch-wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.beef-meddle-tabbar {
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .beef-meddle-button * {
        cursor: pointer;
    }

    * {
        padding: 0.2rem;
        border-radius: 0.3rem;
        width: fit-content;
        text-align: center;
        background: none;
    }

    .beef-meddle-selected {
        .theme-dark & {
            background: #fff4;
        }

        .theme-light & {
            background: #0003;
        }
    }
}
