.cumcord-quickcss {
    background: #1d1f21;
    color: #c5c8c6;
    border: 1px solid #555;
    border-radius: .5rem;

    font-family: "monospace";
    font-size: .9rem;
    line-height: 1.1rem;

    min-height: 25rem;
    margin-bottom: 1rem;
}